<h2 class="f-w-500 m-b-24" mat-dialog-title>
  <strong>{{ action }}</strong>
</h2>

@if(action !== 'Delete') {
<mat-dialog-content>
  <ng-container 
    *ngComponentOutlet="customTemplate; 
    inputs: { data: local_data };
    outputs: { submit: onSubmit }">
  </ng-container>
</mat-dialog-content>
} @else {
<div class="p-x-24">
  <p>Bạn có chắc chắn muốn xóa không?</p>
</div>
<div mat-dialog-actions class="p-x-24 p-b-24">
  <button mat-flat-button color="warn" (click)="doAction()">
    {{ action }}
  </button>
  <button mat-button (click)="closeDialog()" class="m-l-8">Hủy</button>
</div>
}