<mat-card class="cardWithShadow">
  <mat-card-content class="p-24">
    <div class="row justify-content-between">
      <div class="col-lg-4">
        <mat-form-field appearance="outline" class="w-100 hide-hint">
          <input matInput placeholder="Search Employee" (keyup)="applyFilter($any($event.target).value)" />
          <mat-icon matSuffix>
            <i-tabler name="search" class="icon-20"></i-tabler>
          </mat-icon>
        </mat-form-field>
      </div>
      <div class="col-lg-4 d-flex align-items-center justify-content-end mt-xs-12 mt-lg-0">
        <button mat-flat-button (click)="openDialog('Add', {})" color="primary">
          Add Employee
        </button>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<mat-card class="cardWithShadow">
  <mat-card-content class="p-24">
    <!-- Sử dụng component table chung -->
    <app-table 
      [columns]="columns" 
      [data]="employeeData" 
      [filterText]="filterText"
      (edit)="handleEdit($event)"
      (delete)="handleDelete($event)"
      (sortChange)="handleSortChange($event)">
    </app-table>
  </mat-card-content>
</mat-card>
